<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>553973280607-cdr37set5qs6co0i0a8sqe0flfhirgee.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.553973280607-cdr37set5qs6co0i0a8sqe0flfhirgee</string>
	<key>API_KEY</key>
	<string>AIzaSyAqi_8T8m2et_8lI79IZmep16YTAHQMzRg</string>
	<key>GCM_SENDER_ID</key>
	<string>553973280607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Trakengg.Fluidsecure</string>
	<key>PROJECT_ID</key>
	<string>fluid-fcdec</string>
	<key>STORAGE_BUCKET</key>
	<string>fluid-fcdec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:553973280607:ios:b6fe7ef66ab61d18b510ea</string>
</dict>
</plist>